.mainPage {
  /* The image used */
  /* z-index: -1; */
  background-image: url(./assets/Background.jpg);
  opacity: 1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  /* filter: brightness(30%); */
}
