* {
  /* The image used */
  margin: 0;
  padding: 0;
  /* background-color: white; */
  /* Full height */
  /* height: 100%; */

  /* Center and scale the image nicely */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.mainPage {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./assets/Background.jpg");
}
